homeworks/HW08-09/data/
homeworks/HW08-09/.ipynb_checkpoints/
__pycache__/
*.pyc
homeworks/HW10-11/data/
homeworks/HW10-11/.ipynb_checkpoints/
homeworks/HW10-11/.ipynb_checkpoints/
homeworks/HW10-11/.ipynb_checkpoints/
